<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="vcms">
        <property name="hibernate.connection.driver_class">com.jdbc.mysql.Driver</property>
        <property name="hibernate.connection.password">vcms</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.0.118/vcms?characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">vcms</property>
        <property name="hibernate.default_schema">vcms</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    </session-factory>
</hibernate-configuration>
